<footer class="footer">
    Love this website?&nbsp;
    <a href="https://vk.com/vika.horina" target="_blank" rel="noopener"> Link to author.</a>
    <a href="https://vk.com/vika.horina" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
            <path d="M0 0h24v24H0z" fill="none" /></svg>
    </a>
</footer>

