.footer {
    margin: 1vh 0;
    // position: fixed;
    // bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        color: #1976d2;
        text-decoration: none;

        &:hover,
        &:visited {
            color: #125699;
            text-decoration: none;
        }
    }
}
