.header {
    width: 100%;
    z-index: 12;
    padding: 0.5vh 1vw;
    top: 0;
    left: 0;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1976d2;
    color: white;

    @media (max-width: 721px) {
        max-height: 6%;
    }

    @media (max-width: 400px) {
        max-height: none;
        height: 10%;
    }

    .container-logo {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 2vh;

        img {
            width: 6vh;
            margin-right: 1vw;
        }
    }
    a {
        @media (max-width: 721) {
            height: 90%;
            img {
                height: 100%;
            }
        }

        img {
            width: 4vh;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
