<div class="header" role="banner">

    <span class="container-logo">
        <img alt="acc logo" [src]="pathLogIcon" />

        <span *ngIf="width > 1055; else minWidthBloc">
            {{title}}
        </span>

        <ng-template #minWidthBloc>
            <span *ngIf="width > 721; else veryMinWidthBloc">
                {{subTitle}}
            </span>
        </ng-template>

        <ng-template #veryMinWidthBloc>
            {{subSubTitle}}
        </ng-template>
    </span>

    <a aria-label="link to su" id="samu-logo" target="_blank" rel="noopener" href="https://ssau.ru/"
        title="Самарский университет">
        <img alt="su logo" [src]="pathLogSamUnivIcon" />
    </a>

</div>