<div class="container-fluid main">

    <div class="row">

        <div class="col col-12 col-xl-3 tool-bar-col">

            <div class="col-title hidden">
                <span>Панель инструментов</span>
                <button id="hb" (click)="openDialogAddArc()"></button>
            </div>

            <div class="tool-bar-panel" *ngIf=" width > 721; else toolBlockSmallWidth">

                <button mat-raised-button color="primary" class="btn" (click)="addNewNode()" [disabled]="dataset[0].data.length === maxCountNode">
          Добавить новый узел
        </button>

                <button mat-raised-button color="primary" class="btn" (click)="removeAllNode()" [disabled]="dataset[0].data.length === maxCountNode">
          Очистить поле
        </button>

                <section class="section">
                    <mat-slide-toggle class="" [color]="'primary'" [(ngModel)]="StateArcSwith" [disabled]="dataset[0].data.length > 0" (ngModelChange)="changeStateArc()">
                        {{titleStateArc}}
                    </mat-slide-toggle>
                </section>

                <form class="work-block" (ngSubmit)="doWork()" #workForm="ngForm">

                    <mat-form-field appearance="standard" class="mat-form-field">
                        <mat-label> Узел</mat-label>
                        <mat-select [(ngModel)]="NodeForWork" name="node" required>
                            <mat-option *ngFor="let node of dataset[0].data" [value]="node.id">
                                {{node.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="!workForm.form.valid || connectors.length === 0">
            Do
          </button>

                </form>

                <div style="overflow: auto; padding: .5vh; max-height: 34vh; width: 100%;" *ngIf="resultWork.length !== 0 && width > 1200">

                    <ul>
                        <li>Результат:</li>
                        <li *ngFor="let item of resultWork">
                            До узла {{item.nameNode}} - {{'[ ' + item.value.toString() + ' ]'}}
                        </li>
                    </ul>

                </div>

            </div>

            <ng-template #toolBlockSmallWidth>

                <div class="container-fluid" style="padding: 0; width: 100%; height: 100%; margin-bottom: 1vh;">

                    <div class="row" style="height: 50%; margin-bottom: 1vh;">

                        <div class="col col-12" style="height: 100%; padding: 0; display: flex; align-items: center; justify-content: center;">

                            <form class="work-block" (ngSubmit)="doWork()" #workForm="ngForm" style="display: flex; flex-direction: row; height: 100%; justify-content: space-around; width: 100%; ">

                                <mat-form-field appearance="standard" class="mat-form-field" style="font-size: 1.5vh">
                                    <mat-label> Узел</mat-label>
                                    <mat-select [(ngModel)]="NodeForWork" name="node" required>
                                        <mat-option *ngFor="let node of dataset[0].data" [value]="node.id">
                                            {{node.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="!workForm.form.valid || connectors.length === 0">
                  Do
                </button>

                                <div style="overflow: auto; padding: .5vh; max-height: 34vh; width: 100%;" *ngIf="resultWork.length !== 0 && width > 1200">

                                    <ul>
                                        <li>Результат:</li>
                                        <li *ngFor="let item of resultWork">
                                            До узла {{item.nameNode}} - {{'[ ' + item.value.toString() + ' ]'}}
                                        </li>
                                    </ul>

                                </div>

                            </form>

                        </div>

                    </div>

                    <div class="row" style="height: 50%;">

                        <div class="col col-12" style="height: 100%; display: flex; align-items: center; justify-content: center;  padding: 0;">

                            <button mat-raised-button color="primary" class="btn" (click)="addNewNode()" style="margin-right: .5vh;" [disabled]="dataset[0].data.length === maxCountNode">
                +
              </button>

                            <button mat-raised-button color="primary" class="btn" (click)="removeAllNode()" style="margin-right: .5vh;" [disabled]="dataset[0].data.length === maxCountNode">
                C
              </button>

                            <section class="section">
                                <mat-slide-toggle class="" [color]="'primary'" [(ngModel)]="StateArcSwith" [disabled]="dataset[0].data.length > 0" (ngModelChange)="changeStateArc()">
                                    {{titleStateArc}}
                                </mat-slide-toggle>
                            </section>

                        </div>

                    </div>

                </div>

                <!-- <div class="tool-bar-panel">

        </div> -->

            </ng-template>

        </div>

        <div class="col col-12 col-xl-9 chart-col">

            <div class="col-title hidden">
                <span>Граф</span>
            </div>

            <div class="chart">
                <fusioncharts [dataSource]="dataSource" [chartConfig]="chartConfig" (dataplotClick)="addArcForNode($event)" (dataplotDragEnd)="changePositionNode($event)">
                </fusioncharts>
            </div>

        </div>

    </div>

</div>