.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    @media (max-width: 365px) {
        padding: 0;
    }
    .row {
        margin: 0 auto;
        width: 100%;
        .tool-bar-col {
            height: 100%;
            @media (max-width: 1200px) {
                padding: 0;
                height: 20%;
                margin-bottom: 1vh;
                display: flex;
                align-items: flex-end;
            }
            @media (max-width: 365px) {
                padding: 0;
                height: 20%;
                display: flex;
                align-items: flex-end;
                padding-bottom: 1vh;
            }
            .tool-bar-panel {
                padding: 1vh;
                height: 90%;
                border-radius: 4px;
                border: thick solid #1976d2;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                @media (max-width: 1200px) {
                    max-height: 5vh;
                    width: 100%;
                    height: auto;
                    border: none;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .btn {
                        margin-bottom: 0;
                        margin-right: 0.5vh;
                    }
                    .section {
                        width: fit-content;
                        margin-bottom: 0 !important;
                        margin-right: 1vh;
                    }
                    .work-block {}
                }
                .work-block {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .mat-form-field {
                        width: 50%;
                        margin-right: 1vh;
                    }
                    button {
                        width: 45%;
                    }
                }
                ul {
                    margin-left: 0;
                    padding-left: 0;
                    li {
                        list-style-type: none;
                    }
                }
                .btn {
                    color: #ffffff;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0.5vh;
                }
                .section {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0.5vh;
                }
            }
        }
        .col {
            .hidden {
                @media (max-width: 1200px) {
                    height: 0 !important;
                    width: 0 !important;
                    visibility: hidden;
                }
            }
            .col-title {
                text-align: center;
                height: 10%;
                span {
                    white-space: nowrap; /* Запрещаем перенос строк */
                    overflow: hidden; /* Обрезаем все, что не помещается в область */
                    text-overflow: ellipsis; /* Добавляем многоточие */
                    font-size: 3vh;
                    font-weight: 600;
                    color: #1976d2;
                    text-align: center;
                }
            }
        }
        .chart-col {
            height: 100%;
            @media (max-width: 1200px) {
                padding: 0;
                height: 80%;
            }
            @media (max-width: 365px) {
                padding: 0;
                height: 80%;
            }
            .chart {
                padding: 1vh;
                height: 90%;
                border-radius: 4px;
                border: thick solid #1976d2;
                @media (max-width: 1200px) {
                    // min-height: 45vh;
                }
            }
        }
    }
}

#hb {
    height: 0 !important;
    width: 0 !important;
    visibility: hidden;
}