.task-block {
    z-index: 11;
    margin: 0 auto;
    margin-top: 4vh;
    max-width: 78%;
    background-color: #1976d2;
    position: relative;
    display: flex;
    padding: 1vh;
    border: thin solid #1976d2;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    @media (max-width: 1200px) {
        width: fit-content;
        cursor: pointer;
        margin-bottom: 3vh;
        max-width: none;
    }
    .task {
        text-align: justify;
        margin-left: 10vh;
        color: white;
        font-weight: 600;
        font-size: 1.9vh;
        @media (max-width: 1200px) {
            overflow: hidden;
            height: 0;
            width: 0;
            visibility: hidden;
        }
    }
    .task-click {
        visibility: hidden;
        @media (max-width: 1200px) {
            visibility: visible;
            color: white;
            font-weight: 600;
            font-size: 2vh;
        }
    }
    svg {
        height: 11vh;
        width: 10vh;
        position: absolute;
        left: -2.5vh;
        top: -4vh;
    }
}