.title {
    text-align: center;
    font-size: 2.5vh;
}

hr {
    background-color: blue;
}

.content {
    margin: 0 auto;
    width: 100%;
    font-size: 2vh;
    text-align: center;

    .select-block {
        margin: 0 auto;
        max-width: 90%;
        justify-content: center;
        display: flex;
        flex-direction: row;

        .mat-form-field {
            width: 50%;
            margin: 0.2vh;
        }
    }

    .mat-form-field {
        width: 100%;
    }
}

.footer {
    button {
        font-size: 2vh;
    }
}
