<h1 mat-dialog-title class="title">
    Управление состоянием узла
</h1>

<hr>

<form (ngSubmit)="applyDialog()" #connectorForm="ngForm">

    <div mat-dialog-content class="content">

        <div class="select-block">

            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label> Узел для связи</mat-label>
                <mat-select [(ngModel)]="NodeWithConnector" name="node" required>
                    <mat-option *ngFor="let node of data.listNodes" [value]="node">
                        {{node.nameNode}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Вес связи</mat-label>
                <input type="number" matInput name="value" [(ngModel)]="ValueWithConnector" required
                    autocomplete="false">
            </mat-form-field>

        </div>

    </div>

    <div mat-dialog-actions class="footer">

        <button mat-button type="button" cdkFocusInitial (click)="closeDialog(null)">Отмена</button>
        <button mat-button type="submit" [disabled]="!connectorForm.form.valid">Применить</button>

    </div>

</form>