<h1 mat-dialog-title class="title">
    Результат Задания
</h1>

<hr>

<div mat-dialog-content class="content">

    <div *ngIf="data.length">

        <ul>
            <li>Результат:</li>
            <li *ngFor="let item of data">
                До узла {{item.nameNode}} - {{item.value}}
            </li>
        </ul>

    </div>

</div>