.container-fluid {
    padding: 0;
    height: 94%;

    .row {
        margin: 0 auto;
        width: 100%;
        .task-block {
            height: 100%;
            @media (max-width: 1730px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .graph-block {
            height: 100%;
            z-index: 11;
        }
    }

    .row-task {
        height: 25%;
        @media (max-width: 1200px) {
            height: 17%;
        }
    }
    .row-chart {
        height: 70%;
        @media (max-width: 1200px) {
            height: 72%;
        }
    }
}

svg {
    width: 100%;
    height: 47vh;
    position: fixed;
    top: -10vh;
    z-index: 10;
    width: 100%;
    fill: #eee;
    transition: 0.5s;
    // animation: change linear 15s alternate 1s infinite;

    @keyframes change {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
}
