@import "../node_modules/bootstrap/scss/bootstrap.scss";
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    height: 97%;
    // overflow: hidden;
    width: 100%;
    background-color: #fff;

    // @media (max-width: 1200px) {
    //     height: auto;
    // }
}
